body {
  margin: 0;
  padding:0;
  font: normal 13pt/1.63 'Libre Baskerville', 'Palatino','Georgia', 'Times New Roman', 'Times', Serif;
  background-color: #fcfcfc;
  color: #363636;
}

#horizontal-text {
  columns: 25.574vw 2;
  column-gap: 48px;
  widows: 2;
  orphans: 2;
  overflow: hidden;
  scroll-behavior: smooth;
}

#horizontal-text p {
  widows: 2;
  orphans: 2;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: transparent;
}

h1, h2, h3, h4 {
   widows: 2;
   orphans: 2;
   -webkit-break-before: column;
   -moz-break-before: column;
   break-before: column;
}

#slideRight, #slideLeft {
    position:relative;
    display:inline-block;
    border:0;
    border-shadow:0;
    background-color:transparent;
    fill:#005f69;
}

#slideLeft {
  left: 2%;
    position: fixed;
   bottom:3%;
}

#slideRight {
  right: 2%;
    position: fixed;
   bottom:3%;
}

#slideLeft:hover, #slideRight:hover {
  cursor:pointer; color:#000; 
}

#slideLeft:disabled, #slideRight:disabled {
  cursor:default; 
  fill:#ccc;
}
  
#left {
height: 80%;
width: 28%;
background-color:transparent;
position:absolute;
bottom:6%;
left:0;
cursor: w-resize;
display:block;
}

#right {
height: 80%;
width: 28%;
background-color:transparent;
position:absolute;
bottom:6%;
right:0;
cursor: e-resize;
display:block;
}

@media only all and (max-width: 5000px) {
#horizontal-container {
    margin: 12vh 22% 0 22%;
  }
#left, #right {width:21%}

}
@media only all and (max-width: 2200px) {
#horizontal-container {
    margin: 12vh 20% 0 20%;
  }
#left, #right {width:19%}
}
@media only all and (max-width: 1600px) {
#horizontal-container {
    margin: 12vh 20% 0 20%;
  }
#left, #right {width:19%}
}
@media only all and (max-width: 1500px) {
#horizontal-text {
   }
#horizontal-container {
    margin: 12vh 15% 0 15%;
  }
#left, #right {width:14%}
}
@media only all and (max-width: 1400px) {
#horizontal-text {
     height: 76vh;
   }
#horizontal-container {
    margin: 10vh 13% 0 13%;
  }
#left, #right {width:12%}
}
@media only all and (max-width: 1200px) {
#horizontal-text {
     height: 76vh;
   }
#horizontal-container {
    margin: 8vh 8% 0 8%;
  }
#left, #right {width:7%}
}
@media only all and (max-width: 1000px) {
#horizontal-text {
   height: 80vh;
}
#horizontal-container {
    margin: 7vh 3% 0 3%;
  }
#left, #right {width:2%}
}
@media only all and (max-width: 840px) {
#horizontal-text {
    height: 80vh;
   }
#horizontal-container {
    margin: 5vh 5% 0 5%;
  }
#left, #right {width:4%}
}
@media only all and (max-width: 655px), (handheld) {
  #table-of-contents {
    border-top: 2px solid lightgrey;
  }
  #horizontal-container {
     margin: 4vh 5% 0 5%;
  }
  #horizontal-text {
   columns: auto auto;
    height: auto;
  }
  footer {
    display: none;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
	#horizontal-text {
		scroll-behavior: auto;
	}
}
